
/* al desactivar el display se desarma el formulario*/

/*.flex-container{
	display : flex;
}
*/

}
.tr-grad{
	
	position: absolute;
	bottom: 110px;
	width: 100%;
	height: 7rem;
}

.morado{
	background: linear-gradient(#76278F, #2B1E66);
}